.container {
  width: 100%;
  min-height: 100%;
  background: #f7f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 32px 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
} 