.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
	margin-bottom: 16px;
	padding: 16px;
	background-color: orangered;

	h1 {
		color: #ffffff;
		font-size: 18px;
		font-weight: 600;
		white-space: nowrap;
	}
}
